.container_40 {
  padding-right: 40px;
  padding-left: 40px;
}

.btn{
  padding:6px 12px;
  border-radius: 6px;
  border:0;
  background-color: #1f80e0;
  color: #fff !important;
}

a{
  text-decoration:none;
}

nav{
  background-color: #1c313a;
  color: #fff;
  padding:14px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items:center;
}

nav ul li {
  display: block;
  margin:0 10px;
}

.brand__name ,nav ul li a {
  text-decoration: none;
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  opacity:0.95;
}

.brand__name{
  font-weight:bold !important;
  font-size: 16px;
  font-style: oblique;
}

.popular__titles {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

.card__titles {
  padding:40px;
  border:3px solid #1c313a;
  border-radius: 10px;
  margin: 10px;
}

.card__titles h3 a {
  color:#1c313a;
}

.card__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.show__card {
  padding:2px;
  border-radius:8px;;
  margin: 1rem;
  width: 300px;
  position:relative;
  overflow:hidden;
  background-color: #1c313a;
}

.show__card img {
  height: 380px;
  width: 100%;
  border-radius:8px;
}

.show__card .title__box {
  padding:20px;
  display:flex;
  justify-content:space-between;
  background-color: #1c313a;
  color:#fff; 
}

.overview {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  color:#1c313a;
  border:2px solid  #1c313a;
  border-radius: 6px;
}

.show__card:hover .overview {
  transform: translateY(0);
}


.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

footer {
  background-color: #1c313a;
  padding-top:30px;
  padding-bottom:20px;
}

.footer_menu ul {
  display:flex;
  list-style: none;
  flex-wrap: wrap;
}

.footer_menu ul li {
  color:#fff !important;
  display:block;
  margin: 10px 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  opacity:0.95;
}

.image {
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap;
}

.image .social img {
  width:26px;
  height: 26px;
  margin:20px 16px 0 0;
}

.image .store img {
  width:100px;
  height: 80px;
  margin:20px 16px 0 0;
}